.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}

.navbarr {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
}

.not-visible {
    display: none;
}
/* 
.container_images {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0 -7px; 

.container_images .image_container {
    position: relative;
    flex: 0 0 calc(33.33% - 30px);
    padding: 5px;
    margin-bottom: 15px; 
    height: fit-content;
}

.container_images .image_container img {
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.download_button {
    position: absolute;
    bottom: 17px;
    right: 17px;
} */
